
# compiler output files aren't versioned
*.pyc
*.pyo

# build output directory is not versioned
/build

# stitch build script is not versioned
/sbuild

# tmp files from editors
*~
.*.swp

# my.properties is ignored.
/my.properties

# OS X Finder residue
.DS_Store

